apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- certificate.yaml
- deployment.yaml
- service.yaml
- secret.yaml
- ingress.yaml

namespace: ducknet

# TODO NOCOMMIT SECRETS IN CONFIGURATION FILE (incl SASL)
configMapGenerator:
- name: pounce-libera
  namespace: ducknet
  files:
  - config/pounce.conf